<div class="container">
    <div class="btn float-end">
        <a routerLink="add"><button class="btn btn-success pull-right mx-2 mt-2"> Add Customer</button></a>
        <a routerLink="list"><button class="btn btn-success pull-right mx-2 mt-2" >List</button></a>
        <a routerLink="edit/21"><button class="btn btn-success pull-right mx-2 mt-2" >Edit</button></a>
        <a (click)="navigate_back()"><button class="btn btn-success pull-right mx-2 mt-2" >Back</button></a>
    </div>
    <router-outlet></router-outlet>
</div>