<div class="container d-flex">
    <div class="row w-75">
      <div class="col-12">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Nitin</th>
              <td>Tathe</td>
              <td>
                <button type="button" class="btn btn-primary">Add</button>
                &nbsp; &nbsp;
                <button type="button" class="btn btn-success">Edit</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>